//////////////////////////////////* ОБНУЛЕНИЕ *//////////////////////////////////
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
}
a {
    text-decoration: none;
    color: #000;
}
button {
    border: none;
    background: none;
    outline: none;
}
ul {
    list-style: none;
}